

<main class="main">
  <h1>Angular Tutorials</h1>
  <p>Welcome! </p>
  <h1>{{name}}</h1>
  <h1>{{Greeting("Ganesh")}}</h1>

  <p>{{date}}</p>
<p>{{time}}</p>

  <!-- //  -------------Property Binding---------- -->

  <button [disabled]="isEnabled" >Submit</button>

  <img [src]="image_url" />
  <input  type="text" [hidden]="isHidden" placeholder="Enter name" />

    <!-- //  -------------class Binding---------- -->

  <h1 [class]="isActive?'active':'inactive'">This is Class Binding</h1>

  <h2 [class]="{c1:true,c2:true}" > Multiple class Binding</h2>

  <h3>Its Style Binding</h3>


  
    <!-- //  -------------Event Binding---------- -->

    <h1>Counter : {{count}}</h1>

    <button (click)="Increment()" >Increment</button>
      <button (click)="Decrement()" >Increment</button>

      <input  type="text" (input)="onChange($event)" placeholder="Enter your name" />

      <p>Your Name :{{Nick_name}}</p>



         <!-- //  -------------Two Way Binding---------- -->

       
<input type="text" (input)="onchng($event)" [(ngModel)]="city" placeholder="Enter your name :" />

<p>City : {{city}}</p>

<!-- --------------Example on two Way binding-------- -->

<select [(ngModel)]="optionSelected"   >

  <option value="Angular" >Angular</option>
   <option value="React">React</option>
    <option value="Vue">Vue</option>
     <option value="JavaScript">JavaScript</option>


</select>

<p>Your Selected the  : {{optionSelected}}</p>


<!-- ----------iF Directive--------------- -->


<h1 *ngIf="ngif" >Hello THis is NgIf Directive </h1>

<h1 *ngIf="age>18; else eligibity">

  Your are Eligible to Vote

</h1>

<ng-template #eligibity>
  <h1>You are Not Eligible to Vote</h1>
</ng-template>


<!-- ----------ngFor Directive--------------- -->

<table border="1">
  <thead>
    <td>SNo</td>
    <td>Movies</td>
  </thead>
  <tr *ngFor="let m of movies;let i=index" >
<td>{{i}}</td>
<td>{{m}}</td>
  </tr>
</table>



</main>




<router-outlet />
