h1{
    color: darkslateblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

.active{
    background-color: blue;
color: white;
}

.inactive{
    background-color: gray;
    color:white;
}

.c1{
background-color: red;
}
.c2{
    color: blue;
}